@define-color  fg       #d3c6aa;
@define-color  fg_alt   #9da9a0;
@define-color  bg       #2d353b;
@define-color  bg_alt   #3d484d;
@define-color  red      #e67e80;
@define-color  green    #a7c080;
@define-color  yellow   #dbbc7f;
@define-color  blue     #7fbbb3;
@define-color  magenta  #d699b6;
@define-color  cyan     #83c092;
@define-color  orange   #e69875;
