@define-color  fg        #dcd7ba;
@define-color  fg_alt    #8c8874;
@define-color  bg        #1f1f28; 
@define-color  bg_alt    #727169;
@define-color  red       #c34043;
@define-color  green     #76946a;
@define-color  yellow    #c0a36e;
@define-color  blue      #7e9cd8;
@define-color  magenta   #957fb8;
@define-color  cyan      #6a9589;
@define-color  orange    #d99058;
